<div class="container-fluid mt--7">
<div id="fb-editor"></div>


<div class="col-md-1">
  <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal" data-target="#modal-notification" (click)="Balance()">
      Salvar
  </button>
  <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
      <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
          <div class="modal-content bg-gradient-danger">
              <div class="modal-header">
                  <h6 class="modal-title" id="modal-title-notification">Salvar</h6>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>

              <div class="modal-body">
                  <div class="py-3 text-center">
                      <i class="ni ni-bell-55 ni-3x"></i>
                      <h4 class="heading mt-4">SALVAR</h4>
                      <p>
                          Informe os dados para o survey.
                      </p>
                  </div>
                      <div class="form-group">
                          <label for="inputAddress2">Nome</label>
                          <input type="text" class="form-control" id="name" placeholder="Nome do survey" #name>
                        </div>
                      <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Quantidade de pesquisas</label>
                            <input  [ngModel]="qnt" (ngModelChange)="modelChangeQnt($event)" type="number" class="form-control" id="qntPesq" placeholder="Quantidade de pesquisas" #QntPesq>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Valor total</label>
                            <input disabled   type="number" class="form-control" id="valorTotal" placeholder="{{'R$ '+vlr}}"  #ValorTotal>
                          </div>
                        </div>
                        <div class="form-row">
                          
                          <div class="form-group col-md-2">
                              <label for="inputZip">Pais</label>
                              <select  class="form-control" id="pais" #Country></select>
                            </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">Estado</label>
                            <select id="estado" class="form-control" #State>
                            </select>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputCity">Cidade</label>
                              <select class="form-control" id="cidade" #City></select>
                            </div>
                        </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-white" (click)="EditRecord(name.value,QntPesq.value,ValorTotal.value,City.value,State.value,Country.value)" data-dismiss="modal">
                              Salvar
                          </button>
                          <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">
                              Voltar
                          </button>
                      </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>