
<body class="bg-default">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-info py-5 py-lg-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <h1 class="text-white">PesQuizze</h1>
              <p class="text-lead text-light">Survei destinado a pesquisa de mercado.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Entrar com</small></div>
              <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-neutral btn-icon" >
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a  class="btn btn-neutral btn-icon" (click)="ngAuthService.GoogleAuth()">
                  <span class="btn-inner--icon"><img src="../assets/img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Ou digite suas credenciais</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <div class="formGroup">
                    <input class="form-control" type="email" placeholder="Usuario" #userName required>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <div class="formGroup">
                    <input class="form-control"  type="password" placeholder="Senha" #userPassword required>
                  </div>
                  </div>
                </div>
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span class="text-muted">Lembrar-me</span>
                  </label>
                </div>
                <div class="text-center formGroup">
                  <button type="button" class="btn btn-success my-4" (click)="ngAuthService.SignIn(userName.value, userPassword.value)">Entrar</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <div class="text-light">
                <span routerLink="/forgot-password"><small>Esqueceu a senha?</small></span>
              </div>
            </div>
            <div class="redirectToLogin">
              <a class="text-light"><small>Não possui conta?</small><a class="redirect" routerLink="/sign-up"> <small>Registrar-se</small></a></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              © 2021 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">Novaki</a>
            </div>
          </div>

        </div>
      </div>
    </footer>
  </div>
</body>
